mixin h-input(type, label, name, placeholder, value, box, box_label, autofocus, error, ayuda, maxlen)
  .form-group(id="#{name}_Form")
      span(class="control-label col-md-#{box_label}")
        | #{label}
        if ayuda != ""
          span.fa-stack.fa-l.fa-ayuda(data-toggle="tooltip-ayuda", data-html="true", data-placement="top", title="#{ayuda}")
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-question.fa-stack-1x.fa-inverse

      div(class="col-md-#{box}")
        input(class="form-control", class=type=="file" ? "filestyle":"", type=type, id=name, name=name, placeholder=placeholder, autofocus=autofocus, value=value, required=required, data-validation="#{error}", data-toggle="tooltip", data-placement="top", title="", maxlength=maxlen)

mixin ayuda(texto)
  span.fa-stack.fa-l.fa-ayuda(data-toggle="tooltip-ayuda", data-html="true", data-placement="top", title="#{texto}")
    i.fa.fa-circle.fa-stack-2x
    i.fa.fa-question.fa-stack-1x.fa-inverse


mixin ayuda-bottom(texto)
  span.fa-stack.fa-l.fa-ayuda(data-toggle="tooltip-ayuda", data-html="true", data-placement="bottom", title="#{texto}")
    i.fa.fa-circle.fa-stack-2x
    i.fa.fa-question.fa-stack-1x.fa-inverse
        

mixin ayuda-right(texto)
  span.fa-stack.fa-l.fa-ayuda(data-toggle="tooltip-ayuda", data-html="true", data-placement="right", title="#{texto}")
    i.fa.fa-circle.fa-stack-2x
    i.fa.fa-question.fa-stack-1x.fa-inverse
        

mixin v-input(box, type, label, name, placeholder, value, error, ayuda)
  .form-group
    div(class="col-md-#{box}")
      label #{label}
      if ayuda != ""
        span.fa-stack.fa-l.fa-ayuda(data-toggle="tooltip-ayuda", data-html="true", data-placement="top", title="#{ayuda}")
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-question.fa-stack-1x.fa-inverse
      input(class="form-control", class=type=="file" ? "filestyle":"", id=name, type=type, placeholder=placeholder, name=name, autofocus=autofocus, value=value, required=required, data-validation="#{error}", data-toggle="tooltip", data-placement="top", title="")
        
        
mixin textarea(name, value, label, size, error, error_dir, disabled, placeholder)
  .form-group
    label #{label}
    if disabled=="disabled"
      textarea.form-control(disabled, name=name, rows=size, data-validation=error, data-toggle="tooltip", data-placement=error_dir, title="", placeholder=placeholder) #{value}
    else
      textarea.form-control(name=name, rows=size, data-validation=error, data-toggle="tooltip", data-placement=error_dir, title="", placeholder=placeholder) #{value}

mixin hr()
  .row
    .col-md-11.col-md-offset-1
      hr


mixin radio2(val, rubro, label_principal, name, colorgrey)
  - var comentario = ""
  - var puntaje = 1
  each arr in val 
    - comentario = arr.comentario
    - puntaje  = arr.respuesta
  tr(class=colorgrey)
    td #{rubro}
    td #{label_principal}
    td 
      if puntaje == 2
        input(type='radio', name="#{name}[respuesta]", value="2", checked="checked")
      else
        input(type='radio', name="#{name}[respuesta]", value="2")
    td
      if puntaje == 1
        input(type='radio', name="#{name}[respuesta]", value="1", checked="checked")
      else
        input(type='radio', name="#{name}[respuesta]", value="1")
    td
      textarea.style-textarea(name="#{name}[comentario]")  #{comentario}
    

mixin v-input2(box, type, label, name, placeholder, maxlength, value, error, ayuda)
  .form-group
    div(class="col-md-#{box}")
      label #{label}
      if ayuda != ""
        span.fa-stack.fa-l.fa-ayuda(data-toggle="tooltip-ayuda", data-html="true", data-placement="top", title="#{ayuda}")
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-question.fa-stack-1x.fa-inverse
      input(class="form-control", class=type=="file" ? "filestyle":"", id=name, type=type, placeholder=placeholder, maxlength=maxlength, name=name, autofocus=autofocus, value=value, required=required, data-validation="#{error}", data-toggle="tooltip", data-placement="top", title="")

