extends ../../layouts/app

block content
  
  .row.contenedorTb
    .col-md-12
      a.btn.btn-primary.fa-r(href='/programacion/crear')
        i.fa.fa-r.fa-plus-circle
        | Nueva programación acción de formación
    
      a.text-center #{alerta}
      if message
        .error-message
          a.text-center #{message}
      table(data-toggle="table", data-cache="true", data-page-size="25", data-page-list="[25, 50, 100, 200]", data-height="600",data-sort-order="asc",data-sort-name='nombre_accion_Formacion', id="table-pagination", data-pagination="true", data-search="true")
        thead
          tr
            th(data-field='CUR', data-align='left', data-sortable='true') CUR
            th(data-field='nombre_accion_Formacion', data-align='left', data-sortable='true') Nombre de la acción de formación 
            th(data-field='tipo', data-align='left', data-sortable='true') Tipo
            th(data-field='modalidad', data-align='left', data-sortable='true') Modalidad
            th(data-field='dirigido_a_dependencia', data-align='left', data-sortable='true') Dirigida a
            th(data-field='sede', data-align='left', data-sortable='true') Sede
            th(data-align='right', data-sortable='true') Periodo de impartición
            th(data-align='right', data-sortable='true') Estatus Actual
            th(data-align='right', data-sortable='true')
            // th(data-align='right', data-sortable='true')
        tbody
          // La programación de cada accion de formacion se reliza por medio del documento de acciones en mongo, por lo que es un subdocumento, si este tiene programación se muestra en esta tabla, se recorre cada accion y se determinan las programaciones que tienen
          each accion in acciones
            -var cur = accion.cur
            -var programacion = accion.programacion
            // Si hay programación se muestra
            if programacion > 0 
              tr
                td
                  | #{programacion.length} --
                  | #{accion.cur_gen}
                td
                  | #{accion.nombre_accion_Formacion}
                td
                  | #{accion.tipo_accion_Formacion}
                td
                  | #{accion.modalidad_accion_Formacion}
                td
                  if(typeof(accion.dirigido_a_dependencia) !== "undefined")
                    | #{accion.dirigido_a_dependencia.toUpperCase()}
                  else
                    | 
                td
                  | Sede
                td
                  | Periodo programación  
                td
                  | Estatus programación
                td
                  a.btn.btn-default(href="/acciones-formacion/nueva/#{accion._id}/datos-generales")
                    | Actualizar
                    i.fa.fa-edit
                  
                                  
                                      
