extends layoutActiveVer

block content
  #message
    if message
      .error-message
          a.text-center #{message}
  .row
    .col-md-12
      .formulario.animated.fadeIn
        
        .contenido
          include datos
           
        .contenido
          .alert.alert-info
            | Ingrese el periodo de impartición de la Acción de Formación, seleccionando en los calendarios de inicio y término, las fechas (día, mes y año) correspondientes.  
          form.form-horizontal()
            .form-group
              span(class="control-label col-md-3")
                | Periodo de impartición:
              span(class="control-label col-md-1")
                | Inicio:
              div(class="col-md-3")
                input.form-control#periodo_inicio(type="date", name="periodo_inicio",data-validation="empty", data-toggle="tooltip", data-placement="top", value="#{moment(programacionRes.periodo_inicio).format('YYYY-MM-DD')}", title="")
              span(class="control-label col-md-1")
                | Fin:   
              div(class="col-md-3")
                input.form-control#periodo_fin(type="date", name="periodo_fin",data-validation="empty", data-toggle="tooltip", data-placement="top", value="#{moment(programacionRes.periodo_fin).format('YYYY-MM-DD')}", title="")


     
            .form-group
              span(class="control-label col-md-3")
                | Indique el horario de las sesiones 
              .col-md-1
                input#lunes(type="checkbox" name="lunes" value="lunes")
                input(type="hidden" name="ilunes" id="ilunes") 
                | &nbsp Lunes
              .col-md-1
                input#martes(type="checkbox" name="martes" value="martes") 
                input(type="hidden" name="imartes" id="imartes") 
                | &nbsp Martes
              .col-md-1
                input#miercoles(type="checkbox" name="miercoles" value="miercoles") 
                input(type="hidden" name="imiercoles" id="imiercoles") 
                | &nbsp Miércoles
              .col-md-1
                input#jueves(type="checkbox" name="jueves" value="jueves") 
                input(type="hidden" name="ijueves" id="ijueves") 
                | &nbsp Jueves
              .col-md-1
                input#viernes(type="checkbox" name="viernes" value="viernes") 
                input(type="hidden" name="iviernes" id="iviernes") 
                | &nbsp Viernes
              .col-md-1
                input#sabado(type="checkbox" name="sabado" value="sabado") 
                input(type="hidden" name="isabado" id="isabado") 
                | &nbsp Sábado


            .form-group
              span(class="control-label col-md-3")
                | Indique el horario de las sesiones:
              span(class="control-label col-md-1")
                | Hora de inicio:
              div(class="col-md-3")
                - var horas = [{'value': '07:00'},{'value': '08:00'},{'value': '09:00'},{'value': '10:00'},{'value': '11:00'},{'value': '12:00'},{'value': '13:00'},{'value': '14:00'},{'value': '15:00'},{'value': '16:00'},{'value': '17:00'},{'value': '18:00'},{'value': '19:00'},{'value': '20:00'},{'value': '21:00'},{'value': '22:00'}]
       
                select.form-control(name="hora_inicio", id="hora_inicio")
                    option(value="00:00") Seleccione
                    each hora in horas
                      option(value=hora.value, selected= hora.value == programacionRes.hora_inicio) #{hora.value}

    
              span(class="control-label col-md-1")
                | Hora de fin:   
              div(class="col-md-3")
                select.form-control(name="hora_fin", id="hora_fin")
                    option(value="00:00") Seleccione
                    each hora in horas
                      option(value=hora.value, selected= hora.value == programacionRes.hora_fin) #{hora.value}
            .alert.alert-info
              | Esta acción de formación tiene horarios multiples:  
              //- input#multiple(type="checkbox" name="tipo_horario" value="multiple" onclick="checkMultiple(this)") 
              input#multiple(type="checkbox" name="tipo_horario" value="multiple") 
              input#imultiple(type='hidden' name="imultiple")

              .row.disa
                .col-md-2
                  center
                    label &nbsp
                  hr
                  .row
                    .col-md-12
                      label Hora de Inicio
                    .col-md-12
                      label Hora de Fin
                .col-md-1
                  center
                    label Lunes
                  hr
                  .row
                    .col-md-12
                      select.form-control(name="hora_inicio_lunes", id="hora_inicio_lunes")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.lunesInicio) #{hora.value}
                    
                    .col-md-12
                      select.form-control(name="hora_fin_lunes", id="hora_fin_lunes")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.lunesFin) #{hora.value}
                .col-md-1
                  center
                    label Martes
                  hr
                  .row
                    .col-md-12
                      select.form-control(name="hora_inicio_martes", id="hora_inicio_martes")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.martesInicio) #{hora.value}
                    
                    .col-md-12
                      select.form-control(name="hora_fin_martes", id="hora_fin_martes")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.martesFin) #{hora.value}
                .col-md-1          
                  center
                    label Miércoles
                  hr
                  .row
                    .col-md-12
                      select.form-control(name="hora_inicio_miercoles", id="hora_inicio_miercoles")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.miercolesInicio) #{hora.value}
                    
                    .col-md-12
                      select.form-control(name="hora_fin_miercoles", id="hora_fin_miercoles")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.miercolesFin) #{hora.value}
                .col-md-1
                  center
                    label Jueves
                  hr
                  .row
                    .col-md-12
                      select.form-control(name="hora_inicio_jueves", id="hora_inicio_jueves")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.juevesInicio) #{hora.value}
                    
                    .col-md-12
                      select.form-control(name="hora_fin_jueves", id="hora_fin_jueves")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.juevesFin) #{hora.value}
                .col-md-1
                  center
                    label Viernes
                  hr
                  .row
                    .col-md-12
                      select.form-control(name="hora_inicio_viernes", id="hora_inicio_viernes")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.viernesInicio) #{hora.value}
                    
                    .col-md-12
                      select.form-control(name="hora_fin_viernes", id="hora_fin_viernes")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.viernesFin) #{hora.value}
                .col-md-1
                  center
                    label Sábado
                  hr
                  .row
                    .col-md-12
                      select.form-control(name="hora_inicio_sabado", id="hora_inicio_sabado")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.sabadoInicio) #{hora.value}
                    
                    .col-md-12
                      select.form-control(name="hora_fin_sabado", id="hora_fin_sabado")
                        option(value="00:00") Seleccione
                        each hora in horas
                          option(value=hora.value, selected= hora.value == programacionRes.calendario.sabadoFin) #{hora.value}          

          
                          
                      
                      



            .contenido         
              .row
                .col-md-6
                  a.btn.btn-success.fa-r(href="/programacion/paso3v/"+idAccion+"/"+idProgramacion)
                    i.fa.fa-check-circle.fa-r
                    | Siguiente

                  a.btn.btn-danger(href="/programacion")
                    | Cancelar


  append javascript
    script(type='text/javascript', src='/vendor/jquery/dist/jquery.js')
    script.

      var lunes = '!{programacionRes.calendario.lunes}';
      var martes = '!{programacionRes.calendario.martes}';
      var miercoles = '!{programacionRes.calendario.miercoles}';
      var jueves = '!{programacionRes.calendario.jueves}';
      var viernes = '!{programacionRes.calendario.viernes}';
      var sabado = '!{programacionRes.calendario.sabado}';

      var multiple = '!{programacionRes.horarioMultiple}';


      if(lunes=="OK"){$('#lunes').prop('checked', true); $('#ilunes').val('OK');}else{$('#ilunes').val('NO');}
      if(martes=="OK"){$('#martes').prop('checked', true); $('#imartes').val('OK');}else{$('#imartes').val('NO');}
      if(miercoles=="OK"){$('#miercoles').prop('checked', true); $('#imiercoles').val('OK');}else{$('#imiercoles').val('NO');}
      if(jueves=="OK"){$('#jueves').prop('checked', true); $('#ijueves').val('OK');}else{$('#ijueves').val('NO');}
      if(viernes=="OK"){$('#viernes').prop('checked', true); $('#iviernes').val('OK');}else{$('#iviernes').val('NO');}
      if(sabado=="OK"){$('#sabado').prop('checked', true); $('#isabado').val('OK');}else{$('#isabado').val('NO');}

      if(multiple=="OK"){
        $('#multiple').prop('checked', true); 
        $('#imultiple').val('OK');
        $("#hora_fin").prop('disabled', true);
        $("#hora_inicio").prop('disabled', true);
        

        if(lunes=="OK"){$("#hora_inicio_lunes").prop('disabled', false);}else{$("#hora_inicio_lunes").prop('disabled', true);}
        if(lunes=="OK"){$("#hora_fin_lunes").prop('disabled', false);}else{$("#hora_fin_lunes").prop('disabled', true);}


        if(martes=="OK"){$("#hora_inicio_martes").prop('disabled', false);}else{$("#hora_inicio_martes").prop('disabled', true);}
        if(martes=="OK"){$("#hora_fin_martes").prop('disabled', false);}else{$("#hora_fin_martes").prop('disabled', true);}

        if(miercoles=="OK"){$("#hora_inicio_miercoles").prop('disabled', false);}else{$("#hora_inicio_miercoles").prop('disabled', true);}
        if(miercoles=="OK"){$("#hora_fin_miercoles").prop('disabled', false);}else{$("#hora_fin_miercoles").prop('disabled', true);}

        if(jueves=="OK"){$("#hora_inicio_jueves").prop('disabled', false);}else{$("#hora_inicio_jueves").prop('disabled', true);}
        if(jueves=="OK"){$("#hora_fin_jueves").prop('disabled', false);}else{$("#hora_fin_jueves").prop('disabled', true);}


        if(viernes=="OK"){$("#hora_inicio_viernes").prop('disabled', false);}else{$("#hora_inicio_viernes").prop('disabled', true);}
        if(viernes=="OK"){$("#hora_fin_viernes").prop('disabled', false);}else{$("#hora_fin_viernes").prop('disabled', true);}


        if(sabado=="OK"){$("#hora_inicio_sabado").prop('disabled', false);}else{$("#hora_inicio_sabado").prop('disabled', true);}
        if(sabado=="OK"){$("#hora_fin_sabado").prop('disabled', false);}else{$("#hora_fin_sabado").prop('disabled', true);}



      }else{
        $('#imultiple').val('NO');
        $("#hora_fin").prop('disabled', false);
        $("#hora_inicio").prop('disabled', false);

        $("#hora_inicio_martes").prop('disabled', true);
        $("#hora_fin_martes").prop('disabled', true);

        $("#hora_inicio_miercoles").prop('disabled', true);
        $("#hora_fin_miercoles").prop('disabled', true);

        $("#hora_inicio_lunes").prop('disabled', true);
        $("#hora_fin_lunes").prop('disabled', true);

        $("#hora_inicio_jueves").prop('disabled', true);
        $("#hora_fin_jueves").prop('disabled', true);

        $("#hora_inicio_viernes").prop('disabled', true);
        $("#hora_fin_viernes").prop('disabled', true);

        $("#hora_inicio_sabado").prop('disabled', true);
        $("#hora_fin_sabado").prop('disabled', true);

        

      }







      $('#multiple').change(function(){
          if (this.checked) {
                $("#imultiple").val('OK');
                $("#hora_fin").val('00:00');
                $("#hora_inicio").val('00:00');
                $("#hora_fin").prop('disabled', true);$("#hora_inicio").prop('disabled', true);

                $("#hora_inicio_lunes").prop('disabled', false);
                $("#hora_fin_lunes").prop('disabled', false)
                $("#hora_inicio_lunes").val('00:00');
                $("#hora_fin_lunes").val('00:00');

                $("#hora_inicio_martes").prop('disabled', false);
                $("#hora_fin_martes").prop('disabled', false)
                $("#hora_inicio_martes").val('00:00');
                $("#hora_fin_martes").val('00:00');

                $("#hora_inicio_miercoles").prop('disabled', false);
                $("#hora_fin_miercoles").prop('disabled', false)
                $("#hora_inicio_miercoles").val('00:00');
                $("#hora_fin_miercoles").val('00:00');

                $("#hora_inicio_jueves").prop('disabled', false);
                $("#hora_fin_jueves").prop('disabled', false)
                $("#hora_inicio_jueves").val('00:00');
                $("#hora_fin_jueves").val('00:00');

                $("#hora_inicio_viernes").prop('disabled', false);
                $("#hora_fin_viernes").prop('disabled', false)
                $("#hora_inicio_viernes").val('00:00');
                $("#hora_fin_viernes").val('00:00');

                $("#hora_inicio_sabado").prop('disabled', false);
                $("#hora_fin_sabado").prop('disabled', false)
                $("#hora_inicio_sabado").val('00:00');
                $("#hora_fin_sabado").val('00:00');


                if ( $( "#lunes" ).is( ":checked" ) ){}else{
                  $("#hora_inicio_lunes").prop('disabled', true);
                  $("#hora_fin_lunes").prop('disabled', true)
                  $("#hora_inicio_lunes").val('00:00');
                  $("#hora_fin_lunes").val('00:00');
                };
                if ( $( "#martes" ).is( ":checked" ) ){}else{
                  $("#hora_inicio_martes").prop('disabled', true);
                  $("#hora_fin_martes").prop('disabled', true)
                  $("#hora_inicio_martes").val('00:00');
                  $("#hora_fin_martes").val('00:00');
                };
                if ( $( "#miercoles" ).is( ":checked" ) ){}else{
                  $("#hora_inicio_miercoles").prop('disabled', true);
                  $("#hora_fin_miercoles").prop('disabled', true)
                  $("#hora_inicio_miercoles").val('00:00');
                  $("#hora_fin_miercoles").val('00:00');
                };
                if ( $( "#jueves" ).is( ":checked" ) ){}else{
                  $("#hora_inicio_jueves").prop('disabled', true);
                  $("#hora_fin_jueves").prop('disabled', true)
                  $("#hora_inicio_jueves").val('00:00');
                  $("#hora_fin_jueves").val('00:00');
                };
                if ( $( "#viernes" ).is( ":checked" ) ){}else{
                  $("#hora_inicio_viernes").prop('disabled', true);
                  $("#hora_fin_viernes").prop('disabled', true)
                  $("#hora_inicio_viernes").val('00:00');
                  $("#hora_fin_viernes").val('00:00');
                };
                if ( $( "#sabado" ).is( ":checked" ) ){}else{
                  $("#hora_inicio_sabado").prop('disabled', true);
                  $("#hora_fin_sabado").prop('disabled', true)
                  $("#hora_inicio_sabado").val('00:00');
                  $("#hora_fin_sabado").val('00:00');
                };

           }else{
                $("#imultiple").val('NO');
                $("#hora_fin").val('00:00');
                $("#hora_inicio").val('00:00');
                $("#hora_fin").prop('disabled', false);$("#hora_inicio").prop('disabled', false);

                $("#hora_inicio_lunes").prop('disabled', true);
                $("#hora_fin_lunes").prop('disabled', true)
                $("#hora_inicio_lunes").val('00:00');
                $("#hora_fin_lunes").val('00:00');

                $("#hora_inicio_martes").prop('disabled', true);
                $("#hora_fin_martes").prop('disabled', true)
                $("#hora_inicio_martes").val('00:00');
                $("#hora_fin_martes").val('00:00');

                $("#hora_inicio_miercoles").prop('disabled', true);
                $("#hora_fin_miercoles").prop('disabled', true)
                $("#hora_inicio_miercoles").val('00:00');
                $("#hora_fin_miercoles").val('00:00');

                $("#hora_inicio_jueves").prop('disabled', true);
                $("#hora_fin_jueves").prop('disabled', true)
                $("#hora_inicio_jueves").val('00:00');
                $("#hora_fin_jueves").val('00:00');

                $("#hora_inicio_viernes").prop('disabled', true);
                $("#hora_fin_viernes").prop('disabled', true)
                $("#hora_inicio_viernes").val('00:00');
                $("#hora_fin_viernes").val('00:00');

                $("#hora_inicio_sabado").prop('disabled', true);
                $("#hora_fin_sabado").prop('disabled', true)
                $("#hora_inicio_sabado").val('00:00');
                $("#hora_fin_sabado").val('00:00');

           }
      });

      $('#lunes').change(function(){
          if (this.checked) {
                $("#ilunes").val('OK');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_lunes").prop('disabled', false);
                  $("#hora_fin_lunes").prop('disabled', false)
                  $("#hora_inicio_lunes").val('00:00');
                  $("#hora_fin_lunes").val('00:00');
                }
           }else{
                $("#ilunes").val('NO');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_lunes").prop('disabled', true);
                  $("#hora_fin_lunes").prop('disabled', true);
                  $("#hora_inicio_lunes").val('00:00');
                  $("#hora_fin_lunes").val('00:00');
                }
           }
      });

      $('#martes').change(function(){
          if (this.checked) {
                $("#imartes").val('OK');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_martes").prop('disabled', false);
                  $("#hora_fin_martes").prop('disabled', false)
                  $("#hora_inicio_martes").val('00:00');
                  $("#hora_fin_martes").val('00:00');
                }
           }else{
                $("#imartes").val('NO');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_martes").prop('disabled', true);
                  $("#hora_fin_martes").prop('disabled', true);
                  $("#hora_inicio_martes").val('00:00');
                  $("#hora_fin_martes").val('00:00');
                }
           }
      });

      $('#miercoles').change(function(){
          if (this.checked) {
                $("#imiercoles").val('OK');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_miercoles").prop('disabled', false);
                  $("#hora_fin_miercoles").prop('disabled', false)
                  $("#hora_inicio_miercoles").val('00:00');
                  $("#hora_fin_miercoles").val('00:00');
                }
           }else{
                $("#imiercoles").val('NO');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_miercoles").prop('disabled', true);
                  $("#hora_fin_miercoles").prop('disabled', true);
                  $("#hora_inicio_miercoles").val('00:00');
                  $("#hora_fin_miercoles").val('00:00');
                }
           }
      });

      $('#jueves').change(function(){
          if (this.checked) {
                $("#ijueves").val('OK');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_jueves").prop('disabled', false);
                  $("#hora_fin_jueves").prop('disabled', false)
                  $("#hora_inicio_jueves").val('00:00');
                  $("#hora_fin_jueves").val('00:00');
                }
           }else{
                $("#ijueves").val('NO');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_jueves").prop('disabled', true);
                  $("#hora_fin_jueves").prop('disabled', true);
                  $("#hora_inicio_jueves").val('00:00');
                  $("#hora_fin_jueves").val('00:00');
                }
           }
      });

      $('#viernes').change(function(){
          if (this.checked) {
                $("#iviernes").val('OK');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_viernes").prop('disabled', false);
                  $("#hora_fin_viernes").prop('disabled', false)
                  $("#hora_inicio_viernes").val('00:00');
                  $("#hora_fin_viernes").val('00:00');
                }
           }else{
                $("#iviernes").val('NO');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_viernes").prop('disabled', true);
                  $("#hora_fin_viernes").prop('disabled', true);
                  $("#hora_inicio_viernes").val('00:00');
                  $("#hora_fin_viernes").val('00:00');
                }
           }
      });


      $('#sabado').change(function(){
          if (this.checked) {
                $("#isabado").val('OK');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_sabado").prop('disabled', false);
                  $("#hora_fin_sabado").prop('disabled', false)
                  $("#hora_inicio_sabado").val('00:00');
                  $("#hora_fin_sabado").val('00:00');
                }
           }else{
                $("#isabado").val('NO');
                if($("#multiple").is(':checked')){
                  $("#hora_inicio_sabado").prop('disabled', true);
                  $("#hora_fin_sabado").prop('disabled', true);
                  $("#hora_inicio_sabado").val('00:00');
                  $("#hora_fin_sabado").val('00:00');
                }
           }
      });









      //- function checkMultiple(checkbox)
      //- {
      //-   if (checkbox.checked)
      //-   {
      //-     $('#coparticipacion_convenio_Form').show();
      //-   }else{
      //-     $('#dependenciasCoparticipantesDiv').empty(); 
      //-   }
      //- }
                                               
