extends ../../layouts/app

block content
  
  .row.contenedorTb
    .col-md-12
      a.btn.btn-primary.fa-r(href='/acciones-formacion/nueva/init-accion')
        i.fa.fa-r.fa-plus-circle
        | Nueva acción de formación
      a.btn.btn-primary(href='#')
        i.fa.fa-r.fa-refresh
        | Renovar acción de formación
      if message
        .error-message
          a.text-center #{message}
      table(data-toggle="table", data-cache="true", data-page-size="25", data-page-list="[25, 50, 100, 200]", data-height="600",data-sort-order="asc",data-sort-name='nombre_accion_Formacion', id="table-pagination", data-pagination="true", data-search="true")
        thead
          tr
            th(data-field='nombre_accion_Formacion', data-align='left', data-sortable='true') Nombre
            th(data-align='left', data-sortable='true') Dependencia Politécnica Solicitante
            th(data-field='dirigido_a_dependencia', data-align='left', data-sortable='true') Dependencia a la que se solicita el registro
            th(data-align='left', data-sortable='true') Estatus
            th(data-align='right', data-sortable='true')
            th(data-align='right', data-sortable='true')
            th(data-align='right', data-sortable='true')
        tbody
          each accion in acciones
            tr
              td
                | #{accion.nombre_accion_Formacion}
              td
                | #{accion.unidad}
              td
                | #{accion.dirigido_a_dependencia}
                
              td
                | #{accion.estatus_accion}
              td
                a.btn.btn-default(href="/unidades/ver/#{accion._id}")
                  i.fa.fa-print
              td
                a.btn.btn-default(href="/acciones-formacion/nueva/#{accion._id}/datos-generales")
                  i.fa.fa-edit
              td
                a.btn.btn-default(href="/acciones-formacion/borrar/#{accion._id}")
                  i.fa.fa-trash
                
                                  
                                      
