extends ../../layouts/app

block content
  
  .row.contenedorTb
    .col-md-12
      if message
        .error-message
          a.text-center #{message}
      table(data-toggle="table", data-cache="true", data-page-size="25", data-page-list="[25, 50, 100, 200]", data-height="600",data-sort-order="asc",data-sort-name='nombre_accion_Formacion', id="table-pagination", data-pagination="true", data-search="true")
        thead
          tr
            th(data-field='nombre_accion_Formacion', data-align='left', data-sortable='true') Nombre
            th(data-align='right', data-sortable='true') Evaluación Técnico Pedagogica 
            th(data-align='right', data-sortable='true') Evaluación Facilitador
            th(data-align='right', data-sortable='true') Evaluación Académica
            th(data-align='right', data-sortable='true')
        tbody
          each accion in acciones
            // Solo aplica para acciones de formacion finalizadas            
            if accion.status==100
              a #{accion.dictaminacion[0].facilitador.selectfac5}
              tr
                td
                  | #{accion.nombre_accion_Formacion}
                td
                  if accion.puntaje_dictaminado<100
                    a.btn.btn-default(href="dictaminacion/#{accion._id}")
                      i.fa.fa-gavel.fa-r
                      | Hacer Evaluación Técnico Pedagogica
                  else
                    | #{accion.puntaje_dictaminado}
                td

                  if (typeof(accion.dictaminacion.facilitador) !== 'undefined')                  
                    | #{accion.dictaminacion[0].facilitador.selectfac5}
                  else
                    a.btn.btn-default(href="dictaminacion/facilitador/#{accion._id}")
                      i.fa.fa-gavel.fa-r
                      | Hacer Evaluación Facilitador
                td
                  if accion.puntaje_dictaminado<100
                    a.btn.btn-default(href="/dictaminacion/academica/#{accion._id}")
                      i.fa.fa-gavel.fa-r
                      | Hacer Evaluación Académica
                  else
                    | #{accion.puntaje_dictaminado}
    
