extends ../layout/layout_up

block content
  #message
    if message
      .error-message
          a.text-center #{message}
  .row
    .col-md-12
      .formulario.animated.fadeIn
        
        .contenido
          .row
            .col-md-11
              form.form-horizontal(method='post', action="/acciones-formacion/nueva/#{accionFormacion._id}/justificacion", enctype='application/json')
                
                
                span(class="col-md-11 col-md-offset-1 alert alert-info")
                  | Desarrolle los siguientes puntos para integrar la justificación de la acción de formación:
                span(class="col-md-11 col-md-offset-1 alert alert-info")
                  | Necesitdad
                  +ayuda("Argumente a través de qué medio o instrumento (cuestionario, observación, encuesta, entre otros) identificó que la acción de formación que propone es necesaria para el personal al que va dirigida.")
                  span.fa-l-big
                    | Indicadores
                    +ayuda("Indique los datos cuantitativos y/o cualitativos del medio o instrumento que haya aplicado para obtener información para justificar la acción de formación.")
                  span.fa-l-big
                    | Intención
                    +ayuda("Explique cuáles son los beneficios para la formación y las trayectorias del  desarrollo profesional de los participantes al cursar la acción de formación propuesta.")
                  span.fa-l-big
                    | Alcance
                    +ayuda("Señale cuál es la trascendencia de la acción de formación para el fortalecimiento  o desarrollo de competencias.")
                .form-group
                  span(class="control-label col-md-3") Justicación:
                  div(class="col-md-9")
                    textarea.form-control(id="justificacion", name="justificacion", data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                
                .form-group
                  span.control-label.col-md-3
                    | Finalidad
                    +ayuda("<p>A partir de la información anterior y con propósitos estadísticos, le solicitamos que elija el propósito de la acción de formación.  </p><p>Para responder, revise cada una de las finalidades establecidas por la Función Pública.</p")
                  .col-md-9
                    select#finalidad.form-control(name='finalidad', data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                      option(value='') Seleccione ...
                      option(value='Inducción', selected= "Inducción" == accionFormacion.finalidad) Inducción
                      option(value='Fortalecimiento', selected= "Fortalecimiento" == accionFormacion.finalidad) Fortalecimiento
                      option(value='Actualización', selected= "Actualización" == accionFormacion.finalidad) Actualización
                      option(value='Desarrollo', selected= "Desarrollo" == accionFormacion.finalidad) Desarrollo   
                      option(value='Certificacion', selected= "Certificacion" == accionFormacion.finalidad) Certificación 
                      
                      
                      
                .form-group
                  span.control-label.col-md-3
                  .col-md-9
                    br
                    +ayuda("Acciones de formación dirigidas al personal de nuevo ingreso o con menos de un año en el instituto, con la finalidad de inducirlo a la institución y/o al puesto.")
                    span.fa-l Inducción
                    br
                    +ayuda("Acciones de formación que tienen por objeto reforzar, complementar y perfeccionar el desempeño de las funciones del puesto.")
                    span.fa-l Fortalecimiento
                    br
                    +ayuda("Acciones de formación cuya finalidad es mantener vigentes los conocimientos, habilidades y aptitudes que el desempeño de las funciones del puesto exige al personal del instituto.")
                    span.fa-l Actualización
                    br
                    +ayuda("Acciones de formación dirigidos a incrementar los conocimientos, habilidades y aptitudes del personal del instituto.")
                    span.fa-l Desarrollo
                    br
                    +ayuda("Acciones de formación encaminadas a la validación los conocimientos, habilidades y aptitudes en un campo disciplinar o laboral específico.")
                    span.fa-l Certificación
                    
                    
                    
                    
                    
                span(class="col-md-11 col-md-offset-1 alert alert-info")
                  | Personal al que se dirige
                      
                .form-group
                  span.control-label.col-md-3
                    | Área
                    +ayuda("Seleccione el área de formación a la que corresponde la acción de formación, según el público objetivo al que va dirigida.")
                  .col-md-9
                    select#area_dirigido_accion.form-control(name='area_dirigido_accion')
                      option(value='') Seleccione ...
                      option(value='Docentes', selected= "Docentes" == accionFormacion.area_dirigido_accion) Docentes
                      option(value='Directivos/Funcionarios', selected= "Directivos/Funcionarios" == accionFormacion.area_dirigido_accion) Directivos/Funcionarios
                      option(value='PAAE', selected= "PAAE" == accionFormacion.area_dirigido_accion) PAAE
                      
                .form-group
                  span.control-label.col-md-3
                    | 
                  .col-md-9
                    select#subarea_dirigido_accion.form-control(name='subarea_dirigido_accion')
                      option(value='') Seleccione ...
                        
                
                              
                +h-input("hidden", "", "estatus_sec_2", "", "true", 9, 3, "", "","") 
                .row
                  .col-md-12
                    hr
                  .col-md-9.col-md-offset-3
                    button.btn.btn-success.fa-r(type='submit')
                      i.fa.fa-save.fa-r
                      | Guardar 
                    
                    if accionFormacion.estatus_sec_2=='true'
                      a.btn.btn-success.fa-r(href="/acciones-formacion/nueva/#{accionFormacion._id}/encuadre")
                        i.fa.fa-check-circle.fa-r
                        | Continuar
                    else
                      a.btn.btn-success.disabled.fa-r(href="")
                        i.fa.fa-check-circle.fa-r
                        | Continuar
                        
                    a.btn.btn-danger(href="")
                      | Cancelar


  append javascript
    script(type='text/javascript', src='/vendor/jquery/dist/jquery.js')
    script.
      
      // Se Carga informacion existente
      $("#justificacion").html("!{accionFormacion.justificacion}");
      defineArea("!{accionFormacion.area_dirigido_accion}");
      $("#subarea_dirigido_accion").val("!{accionFormacion.subarea_dirigido_accion}");
      
      
      $("#area_dirigido_accion").change(function() {
        var textDirigido = $('#area_dirigido_accion :selected').text();
        defineArea(textDirigido);
      });
      
      
      function defineArea(textDirigido){
        if (textDirigido === "Docentes") {
          $("#subarea_dirigido_accion").empty();
          $("#subarea_dirigido_accion").append("<option value=''>Seleccione ...</option>" +
            "<option value='Didactica'>Didáctica-Pedagógica</option>" +
            "<option value='Conocimientos'>Conocimientos de área disciplinar específica</option>" +
            "<option value='Investigacion'>Investigación educativa</option>" +
            "<option value='Desarrollo'>Desarrollo Humano</option>" +
            "<option value='Complementarios'>Conocimientos complementarios</option>");
        } else {
          if (textDirigido === "Directivos/Funcionarios") {
            $("#subarea_dirigido_accion").empty();
            $("#subarea_dirigido_accion").append("<option value=''>Seleccione ...</option>" +
              "<option value='Etica'>Ética y normatividad</option>" +
              "<option value='Gestion'>Gestión para la innovación</option>" +
              "<option value='Habilidades'>Habilidades directivas</option>" +
              "<option value='Direccion'>Dirección académica</option>");
          } else {
              if (textDirigido === "PAAE") {
                $("#subarea_dirigido_accion").empty();
                $("#subarea_dirigido_accion").append("<option value=''>Seleccione ...</option>" +
                  "<option value='TIC'>Integración de las TIC</option>" +
                  "<option value='Comunicacion'>Comunicación y expresión</option>" +
                  "<option value='Sociales'>Habilidades sociales</option>" +
                  "<option value='Renovacion'>Renovación de la gestión</option>");
              } else {
                  $("#subarea_dirigido_accion").empty();
                  $("#subarea_dirigido_accion").append("<option value=''>Seleccione ...</option>");
              }
          }
        }
      }
