extends ../../layouts/app

block content
  #message
    if message
      .error-message
        a.text-center #{message}
  .row
    .col-lg-12
      .formulario.animated.fadeIn
        .titulo
          | Agregar Participante
        .contenido
          form.form-horizontal(method='post', action="/participantes/nuevo") 
            ///form.form-horizontal(method='post', action="#") ?????? 
            ////+h-input("text", "ETIQUETA", "NAME", "PLACEHOLDER", "VALUE", 6, 3, "autofocus", "empty","")
            +h-input("text", "Nombre(s)", "nombre", "Nombre(s)", "", 6, 3, "autofocus", "empty","")
            +h-input("text", "Apellidos", "apellidos", "Apellidos", "", 6, 3, "", "empty","")
            +h-input("text", "Número de empleado", "noempleado", "#", "", 6, 3, "", "empty","")
            +h-input("text", "CURP", "curp", "18 Dígitos", "", 6, 3, "", "curp","")
            +h-input("text", "RFC", "rfc", "10 Dígitos", "", 6, 3, "", "empty","")
            .form-group
              span(class="control-label col-md-3")
                | Género
              div(class="col-md-6")
                select#genero.form-control(name='genero',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                  option(value="") Seleccione ...
                  option(value="M") Mujer
                  option(value='H') Hombre
            .form-group
              span(class="control-label col-md-3")
                | Entidad Federativa
              div(class="col-md-6")
                select#entidad.form-control(name='entidad',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                  option(value="") Seleccione ...
                  each entidad in entidades
                    option(value=entidad.abr) #{entidad.nombre}
                  
                  
                  
            .form-group
              span(class="control-label col-md-3")
                | Unidad Académica:
              div(class="col-md-6")
                select#dependencia.form-control(name='dependencia',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                  option(value="") Seleccione dependencia ...
                    each dependencia in dependencias
                      option(value=dependencia.dependencia)= dependencia.dependencia

            .form-group#unidadForm
              span(class="control-label col-md-3")
                | 
              div(class="col-md-6")
                select#unidad.form-control(name='unidad',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                  option(value="") Seleccione unidad ...
      
                    
            //- +h-input("text", "Unidad Académica", "unidad", "Unidad Académica de Adscripción", "", 6, 3, "", "empty","")
            .form-group(id="email_inst_Form")
                span(class="control-label col-md-3")
                  | Correo Electrónico Institucional
                .col-md-6
                  .input-group
                    input#email_inst.form-control(name="email_inst", type='text', placeholder='Correo', data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
                    .input-group-addon @ipn.mx
            +h-input("email", "Correo Electrónico Personal", "email_pers", "@", "", 6, 3, "", "correo","")
            .form-group(id="telefono_Form")
                span(class="control-label col-md-3")
                  | Número Telefónico Casa
                div(class="col-md-1")
                  input(class="form-control", type="text", id="lada_telefono", name="lada_telefono", placeholder="lada", value="", required="required", data-validation="longitud", data-validation-length="2-3", data-toggle="tooltip", data-placement="top", title="", maxlength=3)
                div(class="col-md-5")
                  input(class="form-control", type="text", id="telefono", name="telefono", placeholder="#", value="", required="required", data-validation="longitud", data-validation-length="8-8", data-toggle="tooltip", data-placement="top", title="", maxlength=8)
            
            .form-group(id="celular_Form")
                span(class="control-label col-md-3")
                  | Número Telefónico Celular
                div(class="col-md-1")
                  input(class="form-control", type="text", id="lada_celular", name="lada_celular", placeholder="lada", value="", required="required", data-validation="longitud", data-validation-length="2-3", data-toggle="tooltip", data-placement="top", title="", maxlength=3)
                div(class="col-md-5")
                  input(class="form-control", type="text", id="celular", name="celular", placeholder="#", value="", required="required", data-validation="longitud", data-validation-length="8-8", data-toggle="tooltip", data-placement="top", title="", maxlength=8)
                        
                    
        
            //+h-input("text", "Número Telefónico Celular", "celular", "Celular (10 Dígitos)", "", 6, 3, "", "empty","","16")
            .row
              .col-md-6.col-md-offset-3
                label.alert Por el momento la asinación de usuario y contraseña es de manera informativa
            +h-input("text", "Usuario", "usuario", "Usuario", "", 6, 3, "", "empty","")
            +h-input("password", "Contraseña", "password", "Contraseña", "", 6, 3, "", "empty","")
            //- +h-input("text", "Grupo", "grupo", "Grupo", "", 6, 3, "", "empty","")
            
            
            //- .form-group
            //-  span(class="control-label col-md-3")
            //-    | Accion de Formación
            //-  div(class="col-md-6")
            //-    select#dependencia.form-control(name='accion',data-validation="empty", data-toggle="tooltip", data-placement="top", title="")
            //-      option(value="") Seleccione ...
            //-        each accion in acciones
            //-          option(value='#{accion.nombre_accion_Formacion}')= accion.nombre_accion_Formacion
            .row
              .col-md-9.col-md-offset-3
                button.btn.btn-success.fa-r(type='submit')
                  i.fa.fa-check-circle.fa-r
                  | Agregar
                  
                button.btn.btn-default.fa-r(type='reset')
                  i.fa.fa-eraser.fa-r
                  | Limpiar campos
                  
                a.btn.btn-default(href="/participantes")
                  | Cancelar
                  
                  
                  
  append javascript
    script(type='text/javascript', src='/vendor/jquery/dist/jquery.js')
    script.
      function phoneFormat(id){
            $('#'+id)
                .keydown(function (e) {
                  var key = e.charCode || e.keyCode || 0;
                  $phone = $(this);

                  // Auto-format- do not expose the mask as the user begins to type
                  if (key !== 8 && key !== 9) {
                    if ($phone.val().length === 3) {
                      $phone.val($phone.val() + ')');
                    }
                    if ($phone.val().length === 4) {
                      $phone.val($phone.val() + ' ');
                    }     
                    if ($phone.val().length === 7) {
                      $phone.val($phone.val() + '-');
                    }
                    if ($phone.val().length === 10) {
                      $phone.val($phone.val() + '-');
                    }
                    if ($phone.val().length === 13) {
                      $phone.val($phone.val() + '-');
                    }
                  }

                  // Allow numeric (and tab, backspace, delete) keys only
                  return (key == 8 || 
                      key == 9 ||
                      key == 46 ||
                      (key >= 48 && key <= 57) ||
                      (key >= 96 && key <= 105)); 
                })
                
                .bind('focus click', function () {
                  $phone = $(this);
                  
                  if ($phone.val().length === 0) {
                    $phone.val('(');
                  }
                  else {
                    var val = $phone.val();
                    $phone.val('').val(val); // Ensure cursor remains at the end
                  }
                })
                
                .blur(function () {
                  $phone = $(this);
                  
                  if ($phone.val() === '(') {
                    $phone.val('');
                  }
                });
        }
      //phoneFormat("celular");

      $('#lada_telefono').keypress(function(e){
          var chr = String.fromCharCode(e.which);
          return "0123456789".indexOf(chr)>=0;
        });
        
        $('#lada_celular').keypress(function(e){
            var chr = String.fromCharCode(e.which);
            return "0123456789".indexOf(chr)>=0;
          });
        
          $('#telefono').keypress(function(e){
              var chr = String.fromCharCode(e.which);
              return "0123456789".indexOf(chr)>=0;
            });
            
            $('#celular').keypress(function(e){
                var chr = String.fromCharCode(e.which);
                return "0123456789".indexOf(chr)>=0;
              });


      $('#noempleado').keypress(function(e){
          var chr = String.fromCharCode(e.which);
          return "0123456789".indexOf(chr)>=0;
        });

      $('#email_inst').keypress(function(e){
          var chr = String.fromCharCode(e.which);
          return "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ_-0123456789.".indexOf(chr)>=0;
        });
      $('#nombre').keypress(function(e){
          var chr = String.fromCharCode(e.which);
          return "abcdefghijklmnñopqrstuvwxyzABCDEFGHIJKLMNÑOPQRSTUVWXYZáéíóúÁÉÍÓÚ ".indexOf(chr)>=0;
        });

      $('#apellidos').keypress(function(e){
          var chr = String.fromCharCode(e.which);
          return "abcdefghijklmnñopqrstuvwxyzABCDEFGHIJKLMNÑOPQRSTUVWXYZáéíóúÁÉÍÓÚ ".indexOf(chr)>=0;
        });


      $( "#dependencia" ).change(function(){
        var valor = $('#dependencia :selected').val();
         if (valor==""){
            $("#unidad").empty();
            add_append_select("unidad","","Seleccione unidad ...");
            $('#unidadForm').hide();
         }else{
            revisaUnidades(valor);
            $('#unidadForm').show();
         }

      });

      function revisaUnidades(dependenciaVal){
          console.log(dependenciaVal);
          $.ajax({
            url: "/unidades/consulta/dependencia",
            data: {
                    dependencia: dependenciaVal
                  },                      
            type: "POST",
            dataType: "json",
            success: function(source){
              if (source.success === true){
                $("#unidad").empty();
                add_append_select("unidad","","Seleccione unidad ...");
                $.each(source.escuelas, function(index, escuela) {
                  add_append_select("unidad",escuela._id,escuela.nombre);
                });
              }},
            error: function(dato){
            }
          }); //end ajax
          return false;
      }
                    
                                      
                                      
                                            
                                            
